{% load static%}
<!DOCTYPE html>
<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" href="{% static '/css/home.css' %} ">
   </head>
   <body>
   <!-- h2 verde que imprime la variable guardado-->
        <h2> {{success}} </h2>
      <!-- Bienvenida con el nombre el usuario almacenado en la sesioncomo username y boton de cerrar sesion -->
      <div class="well">
         <h1>Bienvenido {{ username.nombre }} </h1>
         <a class="logout-button"  href="{% url 'logout' %}">Cerrar Sesion</a>
      </div>
        <!-- Boton para crear un nuevo habito-->
        <button class="addHabit" onclick="addRow()">Crear hábito</button>

      <div>
         <table id="habitos-table">
            <thead>
               <tr>
                    <th>Hábitos</th>
                    <th>Acción</th>
                    <th>Media Actual</th>
                    <th>Unidad de registro</th>
                    <th>Unidad de media</th>
                    <th>Unidad de revision</th>
                    <th>Proceso</th>
                    <th>Registro</th>
               </tr>
            </thead>
            <tbody>
                {% for habit in habitos %}
                <tr>
                    <td>{{ habit.habito }}</td>
                    <td>{{ habit.accion }}</td>
                    <td>{{ habit.mediaActual}}</td>
                    <td>{{ habit.unidadRegistro }}</td>
                    <td>{{ habit.unidadMedia }}</td>
                    <td>{{ habit.unidadRevision }}</td>
                    <td>{{ habit.proceso }}</td>
                </tr>
                {% endfor %}
            <tbody>
         </table>
      </div>
   <!-- Etiqueta script -->
    <script>

        // Crear un array con los ids de los inputs
        var inputIds = ['habito', 'accion', 'mediaActual', 'unidadRegistro', 'unidadMedia', 'unidadRevision', 'proceso'];


        function addRow() {
          // Obtener la tabla donde se agregará la fila
          var table = document.getElementById('habitos-table');

          // Crear una nueva fila
          var row = table.insertRow(-1);


          // Recorrer el array de ids
          inputIds.forEach((inputId, index) => {
            // Crear la celda
            var cell = row.insertCell(index);
            // Asignar el contenido de la celda
            cell.innerHTML = `<input type="text" id="${inputId}">`;
          });

          // Crear la última celda con el botón de guardar
          var cell = row.insertCell(inputIds.length);
          cell.innerHTML = '{% csrf_token %} <button onclick="saveRow()">Guardar</button>';
        }

        function saveRow() {
            // Crear un objeto con los valores de los inputs usando el array de ids
            var habit = {};
            inputIds.forEach((inputId, index) => {
              habit[inputId] = document.getElementById(`${inputId}`).value;
            });

            // redireccionar a la vista de guardar habitos pasando el json como parametro
            window.location.href = `/newHabito/?habit=${JSON.stringify(habit)}`;
        }
    </script>

   </body>
</html>